@use "./styles.scss" as *;

.author {
	display: flex;
	flex-direction: column;
	gap: 50px;

	h1 {
		text-align: center;
	}

	.authors {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;

		.author-item {
			width: 300px;
			background: $bg-soft;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
			border-radius: 15px;

			.author-card {
				display: flex;
				flex-direction: column;
				gap: 20px;

				img {
					height: 250px;
					width: 250px;
					border-radius: 50%;
				}
				h2 {
					text-align: center;
				}
				p {
					text-align: center;
					color: $text-soft;
				}
			}
		}
	}
	.img-container {
        display: flex;
        align-items: center;
        justify-content: center;

		.profile {
			height: 250px;
			width: 250px;
			border-radius: 50%;
		}
	}

    .bio{
        text-align: center;
        color: $text-soft;
    }

    .author-writings{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        article{
            display: flex;
            flex-direction: column;
            gap: 10px;
            background: $bg-soft;
            padding: 15px;
            width: 31%;
            border-radius: 10px;
            transition: all .5s;

            &:hover{
                background: $button;
                color: $bg;
            }
        }
    }
}

@media (max-width: 1024px) {
	.author {
		.author-writings {
			article {
				width: 48%; // two columns on medium screens
			}
		}
	}
}

@media (max-width: 768px) {
	.author {
		.authors {
			.author-item {
				width: 100%;
				.author-card {
					align-items: center;

					img {
						width: 180px;
						height: 180px;
					}
				}
			}
		}

		.img-container {
			.profile {
				width: 180px;
				height: 180px;
			}
		}

		.author-writings {
			flex-direction: column;

			article {
				width: 100%;
			}
		}
	}
}
