@use "./styles.scss" as *;

// series page
.series-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem 1rem;

    h1 {
        font-size: 28px;
        color: var(--button);
    }

    p {
        color: var(--text-soft);
        font-size: 16px;
    }

    .series-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 1rem;
        list-style-type: none;
        margin: 0 !important;
    }

    .series-item {
        padding: 0.5rem 1rem;
        font-size: 14px;
        width: fit-content;
        display: flex;
        gap: 20px;
        align-items: center;
        border-radius: 8px;

        svg{
            background: $bg-soft;
            padding:10px;
            height: 45px;width: 45px;
            border-radius: 10px;
        }

        svg path{
            fill: $text;
        }

        a {
            color: $text;
            text-decoration: none;
        }
    }
}
