---
import "../styles/Navbar.scss";
---

<header>
	<nav class="navbar">
		<a href="/" class="logo">impulseLog</a>

		<!-- Hamburger icon -->
		<button class="hamburger" id="hamburger" aria-label="Toggle Menu">
			<span></span><span></span><span></span>
		</button>

		<!-- Fullscreen nav menu -->
		<ul class="nav--links" id="nav-menu">

			<li class="nav-link"><a href="/tags/Superconductivity">Superconduativity</a></li>
			<li class="nav-link"><a href="/blog">Blogs</a></li>
			<li class="nav-link"><a href="/tags">Categories</a></li>
			<li class="nav-link"><a href="/series">Series</a></li>
			<li class="nav-link">
				<button id="theme-toggle" aria-label="Toggle theme">
					<span class="theme-indicator"></span>
				</button>
			</li>
		</ul>
	</nav>
</header>

<script>
	const themeToggle = () => {
		const body = document.body;
		const current = localStorage.getItem("theme");

		if (current === "light") body.classList.add("light");
		else body.classList.remove("light");

		document
			.getElementById("theme-toggle")
			?.addEventListener("click", () => {
				const isLight = body.classList.toggle("light");
				localStorage.setItem("theme", isLight ? "light" : "dark");
			});
	};

	const toggleMenu = () => {
		const menu = document.getElementById("nav-menu");
		const btn = document.getElementById("hamburger");
		btn?.addEventListener("click", () => {
			menu.classList.toggle("open");
			btn.classList.toggle("open");
		});
	};

	if (typeof window !== "undefined") {
		window.addEventListener("DOMContentLoaded", () => {
			themeToggle();
			toggleMenu();
		});
	}
</script>
